<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Assignment</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img src="/images/CMP-logo.png" alt="Caria Media Proudctions" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./about-us.html">About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./services.html">Services </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./portfollio.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Services </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container text-center mh-100">
      <img src="/images/Marco.jpeg" width="500" alt="" />

      <p>
        Hello My name is Marco Caria and Im the owner of Caria Media
        Productions. I want to Welcome to Caria Media Productions.com Caria
        Media Productions is a professional Multi-Media Company Specifcally In
        The Video Production Field. Please scroll through Our Services Tab to
        see what kind of services we offer. Also, feel free to check the
        portfolio for samples of our work and if you want to get into contact
        with us please visit the conatct-us tab.
      </p>
      <a class="btn" href="mailto:marcocaria815@gmail.com">Contact Me</a>
    </div>

    <footer class="bg-dark navbar mt-auto">
      <div class="container">
        <div class="row my-auto">
          <div class="col-md-4">
            <img src="./CMP-logo.png" width="200" alt="" />
          </div>
          <div class="col-md-4 my-auto">
            <p class="text-light">
              Contact Us: P.O.Box 150 Vaughan Ontario L4H2E8 416 555 5555
              info@cmp.com
            </p>
          </div>
          <div class="col-md-4 my-auto">
            <a href="https://www.instagram.com/cariamediaproductions/?next=%2F">
              <img src="./Insta.png" width="50" alt="" />
            </a>
            <a href="https://www.linkedin.com/in/marco-caria-8746231ba/">
              <img src="./Linked-in.png" width="50" alt=""
            /></a>

            <img src="./Facebook.png" width="50" alt="" />
            <img src="./Youtube.png" width="50" alt="" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
